<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer History</title>
    <link rel="stylesheet" href="/css/allViews.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
    <style>
        .manage-reservations {
            border: 3px solid darkblue;
            padding: 10px;
            margin-bottom: 10px;
            line-height: 0.7
        }
    </style>
    <script>
        function goBack() {
            window.history.back(); // Navigate back
        }
    </script>
</head>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <!-- Back button -->
                    <button class="back-button" onclick="goBack()">
                        < Back</button>
                            <div class="text-center">
                                <h3 class="text-dark">Manage Active Reservations</h3>
                            </div>
                            <form method="post">

                                <div class="manage-reservations">
                                    <p>Reservation ID: RV123456</p>
                                    <p>Type of Reservation: RV Parking</p>
                                    <p>Size of RV: 42ft</p>
                                    <p>Site in the RV Park: Site 27</p>
                                    <p>Date Reservation was made: April 10, 2024</p>
                                    <p>Length of Reservation: April 15, 2024 - April 20, 2024</p>
                                    <p>Status of Reservation: Active</p>
                                    <button class="btn btn-danger btn-sm mt-3" type="submit">Cancel</button>
                                </div>
                            </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>